<div class="container my-4">
    <div class="p-5 mb-4 bg-dark rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold text-white">M.Uzair Zulfiqar</h1>
          <p class="col-md-8 fs-4 text-white">A to-do list is a list of things you intend to complete or tasks you want to do. You can write them on a piece of paper or note them elsewhere in the order of priority. With technology progressing, professionals now prepare to-do list in angular  to-do list apps.</p>
          <button class="btn btn-light btn-lg" type="button">Example button</button>
        </div>
      </div>
</div>